* {
  margin: 0;
  padding: 0 auto;
  font-family: sans-serif;
}
main {
  margin-top: 10vh;
}
.flex-ver{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
}
header div{
  margin-left: 5%;
  margin-right: 5%;
}
.flex-hor-align{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.left-side-header{justify-self: start;}
.middle-side-header{justify-self: center;}
.right-side-header{justify-self: end;}
.left-side-header img{
  width: 40px;
  height: 40px;
  margin-right: 10%;
  filter: invert(1);
}
.middle-side-header input{
  width: 18rem;
  padding: 2%;
}
.middle-side-header img{
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  filter: invert(1);
  transition: background-color 0.3s linear;
}
.right-side-header img {
  width: 22px;
  height: 22px;
  padding: 12px;
  filter: invert(1);
  transition: background-color 0.3s linear;
}
.middle-side-header img:hover, .right-side-header img:hover {
  background-color: #fff;
  filter: invert(0);
  cursor: pointer;
}

/* WEATHER VIEW */
.weather-view{
  width: 100%;
}
.weather-view-temperature{
  font-size: 80px;
}
.weather-view-temperature-symbols{
  font-size: 32px;
  margin-right: 5%;
}
.weather-view-cityname {
  font-size: 42px;
}

/* CLEAN VIEW */
.clean-view{
  margin-left: 33%;
  margin-right: 33%;
}
.clean-view img{
  width: 70px;
  height: 70px;
  margin-right: 5%;
  object-fit: contain;
}
.clean-view div{
  max-width: 70%;
}