* {
  margin: 0;
  padding: 0 auto;
  font-family: sans-serif;
}
.flex-ver{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  footer a, footer b{
    font-size: 9px;
  }
}